<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <title>react-router、redux's blog</title>
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link rel="stylesheet" href="//cdn.bootcss.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="http://v3.bootcss.com/assets/css/docs.min.css">
</head>
<body>
<div id="app"></div>
<script type="text/javascript" src="/js/bundle.js"></script>
</body>
</html>
