body, div, ul, ol, li, dl, dt, dd, h1, h2, h3, h4, h5, h6, p, blockquote {
    margin: 0;
    padding: 0
}

img {
    border: 0
}

ul, ol, li, form, dl {
    list-style: none
}

a {
    text-decoration: none;
    color: #333
}

a:hover {
    color: #f70
}

TD {
    color: #777;
    font-size: 12px;
    padding: 10px
}

html {
    font-size: 18px
}

.grid-row {
    width: 1500px;
    position: relative;
    margin: auto;
    zoom: 1;
    transition: all .3s ease-out;
    -moz-transition: all .3s ease-out;
    -webkit-transition: all .3s ease-out;
    -o-transition: all .3s ease-out
}

.grid-row:after {
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden
}

.grid-row [class*=grid-box], .grid-row [class*=grid-col] {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.grid-row .grid-box {
    width: 300px
}

.grid-row .grid-box-2 {
    width: 50%
}

.grid-row .grid-box-full {
    width: 100%;
    float: none !important;
    clear: both
}

.grid-row .grid-col-1-4 {
    width: 25%
}

.grid-row .grid-col-2-4 {
    width: 50%
}

.grid-row .grid-col-fix-300 {
    width: 300px
}

.grid-row .grid-col-flow-300 {
    width: calc(100% - 300px)
}

.article {
    padding: 40px 20px;
    font-size: 1rem;
    line-height: 1.6;
    word-wrap: break-word
}

.article:before {
    display: table;
    content: ""
}

.article:after {
    display: table;
    clear: both;
    content: ""
}

.article > :first-child {
    margin-top: 0 !important
}

.article > :last-child {
    margin-bottom: 0 !important
}

.article a:not([href]) {
    color: inherit;
    text-decoration: none
}

.article strong, .article b {
    font-weight: 500
}

.article h1, .article h2, .article h3, .article h4, .article h5, .article h6 {
    margin-top: 1em;
    margin-bottom: 16px;
    font-weight: 500;
    line-height: 1.4
}

.article h1 {
    padding-bottom: .3em;
    font-size: 2.25em;
    line-height: 1.2;
    border-bottom: 1px solid #eee
}

.article h2 {
    padding-bottom: .3em;
    font-size: 1.75em;
    line-height: 1.225;
    border-bottom: 1px solid #eee
}

.article h3 {
    font-size: 1.5em;
    line-height: 1.43
}

.article h4 {
    font-size: 1.25em
}

.article h5 {
    font-size: 1em
}

.article h6 {
    font-size: 1em;
    color: #777
}

.article p, .article blockquote, .article ul, .article ol, .article dl, .article table, .article pre {
    margin-top: 0;
    margin-bottom: 16px
}

.article hr {
    height: 4px;
    padding: 0;
    margin: 16px 0;
    background-color: #e7e7e7;
    border: 0 none
}

.article ul, .article ol {
    padding-left: 2em
}

.article ul {
    list-style: disc
}

.article ol {
    list-style: decimal
}

.article ul ul, .article ul ol, .article ol ol, .article ol ul {
    margin-top: 0;
    margin-bottom: 0
}

.article li {
    list-style: inherit
}

.article li > p {
    margin-top: 16px
}

.article dl {
    padding: 0
}

.article dl dt {
    padding: 0;
    margin-top: 16px;
    font-size: 1em;
    font-style: italic;
    font-weight: 700
}

.article dl dd {
    padding: 0 16px;
    margin-bottom: 16px
}

.article blockquote {
    padding: 0 15px;
    color: #777;
    border-left: 4px solid #ddd
}

.article blockquote > :first-child {
    margin-top: 0
}

.article blockquote > :last-child {
    margin-bottom: 0
}

.article table {
    display: block;
    width: 100%;
    overflow: auto;
    word-break: normal;
    word-break: keep-all
}

.article table th {
    font-weight: 700
}

.article table th, .article table td {
    padding: 6px 13px;
    border: 1px solid #ddd
}

.article table tr {
    background-color: #fff;
    border-top: 1px solid #ccc
}

.article table tr:nth-child(2n) {
    background-color: #f8f8f8
}

.article img {
    max-width: 100%;
    box-sizing: content-box;
    background-color: #fff
}

.article a {
    color: #4078c0;
    text-decoration: none
}

.article a:hover, .article a:active {
    text-decoration: underline
}

.article code, .article tt {
    padding: 0;
    padding-top: .2em;
    padding-bottom: .2em;
    margin: 0;
    font-size: 85%;
    background-color: #f5f5f5;
    border-radius: 3px
}

.article code:before, .article code:after, .article tt:before, .article tt:after {
    letter-spacing: -.2em;
    content: "\00a0"
}

.article del code {
    text-decoration: inherit
}

.article pre {
    word-wrap: normal
}

.article pre code, .article pre tt {
    display: inline;
    max-width: initial;
    padding: 0;
    margin: 0;
    overflow: initial;
    line-height: inherit;
    word-wrap: normal;
    background-color: transparent;
    border: 0
}

.article pre code:before, .article pre tt:before, .article pre code:after, .article pre tt:after {
    content: normal
}

.highlight {
    counter-reset: section 0;
    word-break: normal;
    white-space: pre;
    margin-bottom: 2em;
    padding: 1em 0;
    font-family: monospace;
    background: #f8f8f8
}

.highlight > div {
    counter-increment: section;
    padding: 6px 10px 6px 3em;
    min-height: 1em;
    line-height: 1em
}

.highlight > div:before {
    content: counter(section);
    display: block;
    position: absolute;
    margin-left: -2em;
    color: #ddd
}

.highlight > div:hover {
    background: #eee
}

.highlight > div:hover:before {
    color: #aaa
}

.highlight.javascript .comment {
    color: #969896
}

.highlight.javascript .string {
    color: #183691
}

.highlight.javascript .global, .highlight.javascript .number {
    color: #0086b3
}

.highlight.javascript .keywords {
    color: #a71d5d
}

.highlight.javascript .regex {
    color: #009a1a
}

.highlight.html .comment {
    color: #998;
    font-style: italic
}

.highlight.html .doctype {
    color: teal
}

.highlight.html .tag {
    color: #881280
}

.highlight.html .attribute {
    color: teal
}

.highlight.html .data {
    color: #d14
}

.highlight.html .string {
    color: #888
}

.highlight.css .comment {
    color: green
}

.highlight.css .properties {
    color: teal
}

.highlight.css .selectors {
    color: maroon
}

.highlight.css .units {
    color: red
}

.highlight.css .urls {
    color: #f0f
}

.highlight.css .colors {
    color: olive
}

.highlight.css .important {
    color: #00f
}

.btn {
    display: inline-block;
    min-width: 40px;
    padding: .5em 1em;
    line-height: 1.5em;
    font-size: 14px;
    text-align: center;
    color: #333;
    background: #fff;
    border: 1px solid #d3d3d3;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .1);
    border-radius: 2px;
    white-space: nowrap;
    outline: 0;
    text-decoration: none;
    transition: all .08s linear;
    -moz-transition: all .08s linear;
    -webkit-transition: all .08s linear;
    -o-transition: all .08s linear
}

.btn:hover {
    color: #333;
    text-decoration: none;
    border-color: #c3c3c3;
    background: #f4f4f4;
    box-shadow: 0 1px 1px rgba(0, 0, 0, .2)
}

.btn.focusme {
    border: 0;
    color: #fff;
    background: #fa7d3c;
    background: -moz-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: -webkit-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: -o-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: -ms-linear-gradient(top, #fa7d3c 0, #f55f10 100%);
    background: linear-gradient(top bottom, #fa7d3c 0, #f55f10 100%)
}

.btn.focusme:hover {
    background: #f4722e;
    background: -moz-linear-gradient(top, #f4722e 0, #f05807 100%);
    background: -webkit-linear-gradient(top, #f4722e 0, #f05807 100%);
    background: -o-linear-gradient(top, #f4722e 0, #f05807 100%);
    background: -ms-linear-gradient(top, #f4722e 0, #f05807 100%);
    background: linear-gradient(top bottom, #f4722e 0, #f05807 100%)
}

.btn.blue {
    color: #fff;
    border: 0;
    padding: 1px 1em;
    box-shadow: inset 1px 1px rgba(255, 255, 255, .1), 1px 1px rgba(0, 0, 0, .1);
    background-color: #08c;
    background-image: -moz-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
    background-image: -ms-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
    background-image: -webkit-gradient(linear, 0 0, 0 100%, from(rgba(255, 255, 255, .1)), to(transparent));
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
    background-image: -o-linear-gradient(top, rgba(255, 255, 255, .1), transparent);
    background-image: linear-gradient(top, rgba(255, 255, 255, .1), transparent);
    background-repeat: repeat-x
}

.btn.blue:hover {
    background-color: #09d;
    text-decoration: none
}

.btn.blue:active {
    background-color: #07b
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
}

@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-20px)
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -webkit-transform: translateX(0)
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(20px)
    }
}

@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
        -moz-transform: translateX(0)
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(20px)
    }
}

@keyframes loading-rond {
    0% {
        transform: rotate(0deg)
    }
    100% {
        transform: rotate(360deg)
    }
}

@-webkit-keyframes loading-rond {
    0% {
        -webkit-transform: rotate(0deg)
    }
    100% {
        -webkit-transform: rotate(360deg)
    }
}

.fadeInLeft {
    -webkit-animation: fadeInLeft .5s ease both;
    -moz-animation: fadeInLeft .5s ease both
}

.fadeOutRight {
    -webkit-animation: fadeOutRight .5s ease both;
    -moz-animation: fadeOutRight .5s ease both
}

body:before {
    content: '';
    display: block;
    height: 50px
}

.app_nav {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000
}

.app_nav .nav {
    float: left;
    margin: 0 0 0 30px;
}

.app_nav .nav li {
    float: left;
}

.app_nav .nav li a {
    display: block;
    height: 48px;
    padding: 0 15px;
    outline: 0;
    overflow: hidden;
    line-height: 48px;
    color: #ddd;
    text-align: center;
    font-size: 16px;
    transition: all .2s linear;
    -moz-transition: all .2s linear;
    -webkit-transition: all .2s linear;
    -o-transition: all .2s linear
}

.app_nav .nav li a i, .app_nav .nav li a span {
    display: inline-block;
    vertical-align: middle;
    height: 30px;
    line-height: 30px
}

.app_nav .nav li a i {
    margin-right: 6px;
    text-align: center;
    font-size: 24px;
    display: none
}

.app_nav .nav li a:hover {
    color: #f90;
}

.app_nav .nav li:nth-child(1) a i {
    display: inline-block;
}

.app_nav .nav li.cur a {
    color: #f90;
}

.app_nav .side {
    float: right;
    height: 48px;
    font-size: 0
}

.app_nav .side li {
    display: inline-block;
    height: 48px;
    line-height: 48px;
    padding: 0 10px
}

.app_nav .side li a {
    font-size: 12px
}

.app_nav .side li.cur a {
    color: #f90;
}

.nav_body {
    position: absolute;
    border-top: 2px solid #f90;
    top: 0;
    left: 0;
    width: 100%;
    height: 48px;
    background: #444;
    box-shadow: 0 0 5px rgba(0, 0, 0, .4);
    z-index: 2
}

.nav_appname {
    display: none
}

.nav_moreBtn {
    display: none
}

.pagination {
    padding-top: 20px
}

.pagination li {
    display: inline-block;
    vertical-align: text-top
}

.pagination span, .pagination a {
    display: block;
    height: 40px;
    line-height: 40px;
    padding: 0 15px;
    background: #fff;
    font-size: 14px;
    color: #428bca;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear
}

.pagination span:hover, .pagination a:hover {
    color: #333;
    height: 38px;
    border-bottom: 2px solid #f90;
}

.pagination .active span {
    background: #428bca;
    color: #fff;
    font-size: 22px;
    cursor: default
}

.pagination .disabled span {
    color: #bbb;
    cursor: no-drop;
}

.l_com_list_cnt {
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.l_com_list_cnt .l-loading-panel {
    margin: 0 auto;
    padding: 50px 0;
    box-shadow: none
}

.l_com_list_noData {
    padding: 30px 20px;
    line-height: 20px;
    font-size: 18px;
    color: #666
}

.l_com_item {
    position: relative;
    padding: 15px;
    border-top: 1px solid #eee;
    cursor: default;
    overflow: hidden;
    transition: all .1s linear;
    -moz-transition: all .1s linear;
    -webkit-transition: all .1s linear;
    -o-transition: all .1s linear
}

.l_com_item:nth-child(1) {
    border: 0
}

.l_com_item:hover {
    background: #fafafa
}

.l_com_item .avatar {
    float: left;
    width: 50px;
    height: 50px;
    border-radius: 12px;
    overflow: hidden;
    background: #ddd
}

.l_com_item .avatar img {
    width: 100%;
    height: 100%
}

.l_com_item .content {
    margin-left: 60px
}

.l_com_item .caption {
    margin-bottom: 10px;
    line-height: 18px;
    font-size: .85rem;
    font-weight: 500
}

.l_com_item .text {
    min-height: 20px;
    margin-bottom: 10px;
    line-height: 1.5;
    font-size: .85rem;
    color: #333;
    word-wrap: break-word;
    word-break: break-all
}

.l_com_item .footer {
    height: 20px;
    line-height: 20px;
    font-size: .85rem
}

.l_com_item .footer .time {
    float: left;
    color: #aaa
}

.l_com_item .footer .btn-reply {
    color: #aaa;
    float: right
}

.l_com_item .footer .btn-reply:hover {
    color: #333
}

.l_com_item_ani-insert {
    animation: insert 2s;
    -moz-animation: insert 2s;
    -webkit-animation: insert 2s;
    -o-animation: insert 2s
}

.l_com_item_ani-active {
    animation: commentsActive 2s;
    -moz-animation: commentsActive 2s;
    -webkit-animation: commentsActive 2s;
    -o-animation: commentsActive 2s
}

.l-icon-layLogo:after {
    content: "";
    display: block;
    width: 29px;
    height: 27px;
    background: url(/images/logo.png) no-repeat;
    background-size: contain;
}

.side_card {
    margin-bottom: 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.side_card .caption {
    padding: .5em 1em;
    box-shadow: 0 0 2px #aaa
}

.side_card .caption strong, .side_card .caption span, .side_card .caption small {
    display: inline-block;
    vertical-align: bottom;
    height: 24px;
    line-height: 24px
}

.side_card .caption small {
    padding: 0 .5em;
    opacity: .6
}

.side_card .text {
    padding: 1em 0;
    color: #ccc;
    font-size: 18px;
    text-align: center
}

.side-github header {
    position: relative;
    height: 110px;
    background: #555
}

.side-github .logo {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    font-size: 120px;
    color: #333;
    height: 70px;
    overflow: hidden;
    text-align: center;
    line-height: 90px
}

.side-github .avatar {
    position: absolute;
    bottom: -30px;
    left: 50%;
    width: 70px;
    height: 70px;
    margin-left: -40px;
    padding: 5px;
    border-radius: 100%;
    background: #fff
}

.side-github .avatar img {
    display: block;
    width: 70px;
    height: 70px;
    border-radius: 100%
}

.side-github .main {
    padding: 40px 0 15px;
    text-align: center
}

.side-github .main h3 {
    font-size: 18px;
    font-weight: 400;
    margin-bottom: .5em
}

.side-github .main i {
    margin-right: 6px
}

.side-github .count {
    border-top: 1px solid #eee
}

.side-github .count:after {
    content: '';
    display: block;
    clear: both;
    height: 0;
    overflow: hidden
}

.side-github .count a {
    display: block;
    width: 33.333%;
    float: left;
    padding: 10px 0
}

.side-github .count a:hover {
    background: #fafafa
}

.side-github .count strong, .side-github .count span {
    display: block;
    text-align: center;
    line-height: 1.2em
}

.side-github .count strong {
    font-size: 20px;
    color: #333
}

.side-github .count span {
    font-size: 12px;
    color: #aaa
}

.side-comments-item {
    display: block;
    padding: 10px;
    border-top: 1px solid #eee
}

.side-comments-item:after {
    content: "";
    display: block;
    clear: both;
    height: 0;
    overflow: hidden
}

.side-comments-item .cover {
    float: left
}

.side-comments-item .cover img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 100%;
    background: #eee
}

.side-comments-item .main {
    float: right;
    width: calc(100% - 50px)
}

.side-comments-item .main h4 {
    font-size: 14px;
    font-weight: 500
}

.side-comments-item .main h4 small {
    opacity: .7;
    font-weight: 400
}

.side-comments-item .main p {
    padding: .5em 0 0;
    font-size: 12px;
    color: #888;
    word-break: break-word;
    line-height: 1.4em;
    max-height: 4.2em;
    overflow: hidden
}

.side-comments-item .emoji-box {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 1em;
    width: 18px
}

.side-comments-item .emoji {
    position: absolute;
    top: -5px;
    left: -4px;
    margin: 0;
    transform: scale(0.6);
    -webkit-transform: scale(0.6)
}

.side-comments-item:hover {
    background: #fafafa;
    color: inherit
}

.define-scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 6px
}

.define-scrollbar::-webkit-scrollbar-track-piece {
    background: #eee
}

.define-scrollbar::-webkit-scrollbar-thumb:vertical {
    background: #666
}

body {
    color: #333;
    font-size: 14px;
    font-weight: 400;
    font-family: "Helvetica neue", Helvetica, Tahoma, "lantinghei sc", "Microsoft Yahei", sans-serif;
    -webkit-font-smoothing: antialiased;
}

a, a:active {
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
    -webkit-tap-highlight-color: transparent;
}

.app_container {
    position: relative;
    overflow: hidden
}

.app_container .page {
    height: 0;
    overflow: hidden
}

.app_container .page.page-active {
    height: auto;
    min-height: 600px;
    overflow: initial
}

.app_mask {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 5000;
    background: #fff
}

.app_mask:before {
    content: '';
    position: absolute;
    width: 104%;
    height: 1px;
    top: 50%;
    left: -2%;
    background: #aaa;
    -webkit-transform: rotate(-15deg);
    -moz-transform: rotate(-15deg);
    -o-transform: rotate(-15deg);
    transform: rotate(-15deg)
}

.app_mask .app_mask_cnt {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 52px;
    height: 52px;
    margin: -26px 0 0 -26px
}

.app_mask .app_mask_cnt span {
    background: #fff
}

.app_mask.app_mask_out {
    opacity: 0;
    transition: all .2s ease-in;
    -moz-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    transition-delay: .6s;
    -moz-transition-delay: .6s;
    -webkit-transition-delay: .6s;
    -o-transition-delay: .6s
}

.app_mask.app_mask_out .app_mask_cnt {
    -webkit-transform: scale(0);
    -moz-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
    transition: all .15s ease-in;
    -moz-transition: all .15s ease-in;
    -webkit-transition: all .15s ease-in;
    -o-transition: all .15s ease-in
}

.app_mask.app_mask_out:before {
    width: 0;
    left: 50%;
    transition: all .3s ease;
    -moz-transition: all .3s ease;
    -webkit-transition: all .3s ease;
    -o-transition: all .3s ease;
    transition-delay: .2s;
    -moz-transition-delay: .2s;
    -webkit-transition-delay: .2s;
    -o-transition-delay: .2s
}

.app_mask_cnt {
    position: absolute;
    bottom: 50%;
    left: 50%;
    width: 200px;
    height: 70px;
    margin-left: -100px;
    z-index: 1
}

.app_mask_cnt p {
    padding-top: 20px;
    font-size: 18px;
    text-align: center
}

.tongji {
    width: 0;
    height: 0;
    overflow: hidden
}

.blank-content {
    max-width: 400px;
    padding: 50px 0;
    margin: 0 auto 20px;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.blank-content p {
    position: relative;
    width: 120px;
    height: 60px;
    padding-top: 60px;
    margin: auto;
    border: 1px solid #aaa;
    border-radius: 100%;
    line-height: 40px;
    text-align: center;
    font-size: 18px;
    color: #333
}

.blank-content p:before {
    content: '！';
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    width: 100%;
    padding-top: 20px;
    line-height: 40px;
    text-align: center;
    font-size: 50px;
    color: #f70;
    z-index: 0
}

.blessPage {
    padding: 20px 0
}

.app-toolbar {
    position: fixed;
    bottom: 0;
    right: 20px;
    width: 60px;
    z-index: 100
}

.app-toolbar .back-top {
    position: absolute;
    display: block;
    width: 100%;
    height: 35px;
    bottom: 0;
    background: #f70;
    box-shadow: 0 0 4px rgba(0, 0, 0, .5);
    transition: .2s
}

.app-toolbar .back-top:before {
    content: '';
    display: block;
    position: absolute;
    width: 0;
    height: 0;
    top: -10px;
    border-style: solid;
    border-width: 0 30px 10px;
    border-color: transparent transparent #f70
}

.app-toolbar .back-top.hide {
    transition-delay: .5s;
    bottom: -60px
}

.indeCnt section {
    position: relative;
    font-size: 1rem
}

.gallayer {
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-position: center center;
    background-size: cover;
    display: none
}

.articleListPage .header {
    position: relative;
    padding: 30px 0 20px;
    background: #fafafa
}

.articleListPage .header:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 50px;
    background: #fff;
    background-image: -webkit-linear-gradient(#fafafa, #fff);
    background-image: linear-gradient(#fafafa, #fff)
}

.articleListPage .header .mac {
    position: relative;
    width: 15rem;
    height: 7.5rem;
    margin: auto;
    padding-top: 1.5rem;
    text-align: center;
    background: #fafafa;
    background: linear-gradient(to right bottom, #fff, #eee);
    border: 6px solid #222;
    border-width: 6px 6px 8px;
    border-radius: 8px 8px 0 0
}

.articleListPage .header .mac:after {
    content: '';
    position: absolute;
    width: 134%;
    left: -17%;
    bottom: -14px;
    height: 6px;
    border-radius: 0 0 40px 40px / 0 0 5px 5px;
    background: #ccc
}

.articleListPage .header .mac p {
    font-size: 1rem;
    color: #333
}

.articleListPage .header .logo {
    margin-bottom: 10px;
    font-size: 3.5rem;
    color: #000
}

.articleListPage-tags-cnt {
    margin-bottom: 20px
}

.articleListPage-tags {
    width: 100%;
    background: #fff;
    box-shadow: 0 1px 0 rgba(0, 0, 0, .2);
    z-index: 5
}

.articleListPage-tags .content {
    padding: 12px 0 5px 5px
}

.articleListPage-tags a {
    position: relative;
    display: inline-block;
    max-width: 100%;
    height: 24px;
    margin: 0 10px 5px 0;
    line-height: 24px;
    padding: 0 8px 0 18px;
    border-radius: 0 4px 4px 0;
    background: #eee;
    font-size: 12px;
    color: #333;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box
}

.articleListPage-tags a span {
    opacity: .3;
    padding: 0 0 0 5px
}

.articleListPage-tags a:before {
    position: absolute;
    content: '';
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    border-width: 12px 12px 12px 0;
    border-color: #fff transparent;
    border-style: solid
}

.articleListPage-tags a:after {
    position: absolute;
    content: '';
    width: 4px;
    height: 4px;
    top: 10px;
    left: 8px;
    border-radius: 100%;
    background: #fff
}

.articleListPage-tags a:hover {
    background: #333;
    color: #fff
}

.articleListPage-tags a.active {
    background: #f70;
    color: #fff
}

.articleList {
    position: relative;
    margin-bottom: 10px
}

.articleItem {
    margin-bottom: 10px;
    overflow: hidden;
    background: #fff
}

.articleItem.pure-text .link {
    background: url(//dn-lay.qbox.me/build/single-page/images/blog_card_1f52c08.jpg) no-repeat top right #fff;
    background-size: 170px 34px
}

.articleItem .link {
    display: block
}

.articleItem .title {
    display: block;
    padding: 1em .5em .2em;
    font-weight: 400;
    line-height: 1.5em;
    text-align: center;
    font-size: 18px;
    color: #000;
    outline: 0
}

.articleItem .pic img {
    display: block;
    background: #eee;
    max-width: 100%;
    margin: auto
}

.articleItem .info {
    padding: 10px 20px;
    line-height: 1.4;
    font-size: 13px;
    color: #888;
    text-indent: 2em
}

.articleItem .label {
    position: absolute;
    top: 0;
    right: 0;
    width: 30px;
    height: 30px;
    background: #f70;
    box-shadow: -1px 1px 2px #000
}

.articleItem .label:before {
    position: absolute;
    content: '';
    width: 0;
    height: 0;
    top: 0;
    right: 0;
    border: 1px solid #fff;
    border-width: 0 30px 30px 0;
    border-color: transparent transparent #fff
}

.articleItem .label span {
    position: absolute;
    display: block;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    -webkit-transform: rotate(45deg) scale(0.8);
    transform: rotate(45deg) scale(0.8);
    text-align: center;
    line-height: 15px;
    color: #fff
}

.articleItem footer {
    display: table;
    width: 100%;
    padding: 10px 0;
    border-top: 1px solid #e8e8e8;
    background: #fbfbfb
}

.articleItem footer .tags {
    display: table-cell;
    width: 99%;
    padding-left: 10px;
    font-size: 13px
}

.articleItem footer .tags strong {
    margin-right: 5px;
    color: #aaa;
    font-weight: 400
}

.articleItem footer .tags a {
    display: inline-block;
    margin-right: 5px;
    color: #777
}

.articleItem footer .tags a:hover {
    text-decoration: underline;
    color: #000
}

.articleItem footer .time {
    display: table-cell;
    vertical-align: middle;
    width: 1%;
    padding-right: 10px;
    white-space: nowrap;
    color: #888;
    font-size: 12px
}

@media (max-width: 660px) {
    .articleListPage-tags {
        position: static !important
    }

    .articleListPage .status, .articleList {
        margin: 0 10px;
        width: auto
    }
}

.blogDetail {
    font-size: 1rem
}

.blogDetail header {
    text-align: center;
    padding: 5em 0 7em
}

.blogDetail header h1 {
    margin: 0 .5em .5em;
    line-height: 1.2;
    font-size: 2em;
    font-weight: 500
}

.blogDetail header P {
    margin: 0 0 1em;
    opacity: .8
}

.blogDetail .sns-share {
    padding: 1em 0
}

.blogDetail .sns-share a {
    margin: 0 .5em;
    padding: .1em 1.2em;
    font-size: 1.2rem
}

.blogDetail .article-section {
    padding-bottom: 50px;
    border-top: 1px solid #dadada;
    background: #ddd
}

.blogDetail .article-section .article {
    margin-top: -2em;
    padding-bottom: 3em;
    background: #fff
}

.blogDetail .article-section footer {
    padding: 10px 15px;
    border-top: 1px solid #eee;
    background: #fafafa
}

.blogDetail .article-section footer p {
    font-size: 14px;
    color: #666
}

.blogDetail .comments-section {
    position: relative;
    padding: 50px 0;
    background: #ccc
}

.blogDetail .comments-section:before {
    position: absolute;
    content: '';
    top: -1rem;
    left: 50%;
    margin-left: -3rem;
    width: 0;
    height: 0;
    border-style: solid;
    border-color: transparent transparent #ccc;
    border-width: 0 3rem 1rem
}

.labsList {
    padding: 40px 0
}

.lab_item {
    position: relative;
    display: block;
    max-width: 340px;
    margin: 0 auto 20px;
    overflow: hidden;
    background: #fff;
    border-radius: 2px;
    box-shadow: 0 0 2px rgba(0, 0, 0, .2)
}

.lab_item .cover {
    width: 100%;
    height: 240px;
    top: 0;
    left: 0;
    background-size: cover;
    background-position: center center
}

.lab_item .cover i {
    display: none
}

.lab_item .info {
    bottom: -30px;
    width: 100%;
    height: 100px;
    background: #fff
}

.lab_item .info .title {
    padding: 15px 10px 0;
    line-height: 20px;
    font-weight: 400;
    color: #333;
    font-size: 20px;
    text-align: center
}

.bless-header {
    padding: 4rem 0 2rem;
    height: 250px;
    background: url(//dn-lay.qbox.me/build/single-page/images/zoom_478d820.jpg) no-repeat center bottom #234;
    background-size: cover
}

.bless-header h2 {
    height: 1em;
    line-height: 1em;
    margin-bottom: 1em;
    text-align: center;
    font-weight: 400;
    font-size: 3rem;
    color: #fff;
    text-shadow: 0 0 8px #000
}

.bless-sendBox {
    max-width: 700px;
    width: 100%;
    margin: auto
}

.app_nav .nav li.cur-tab a {
    color: #f90;
}

.main-container {
    width: 90%;
    margin: 10px auto 100px;
}

.post-contents {
    width: 100%;
    overflow: hidden;
    padding: 10px;
    margin: 0 0 10px 0;
    box-shadow: 0 0 3px rgba(0, 0, 5, 0.4);
}

.article-link {
    color: #444;
    font-size: 16px;
    line-height: 30px;
}

.post-texts {
    max-height: 112px;
    overflow: hidden;
    font-size: 14px;
    line-height: 28px;
}

.tag-name {
    display: inline-block;
    margin: 0 3px;
    padding: 0 3px 0 6px;
    border-left: 1px solid #ccc;
}

.tag-name:nth-of-type(1) {
    border: none;
    margin: 0;
    padding: 0 3px 0 0;
}

.pagination li.disabled a {
    color: #ccc;
    transition: none;
}

.pagination li.disabled a:hover {
    background: #fff;
    border: #ccc;
    cursor: no-drop;
}

.public-info {
    float: left;
    margin: 0 10px 0 0;
}

.atricle-title{
    font-weight: normal;
    font-size: 16px;
    line-height: 32px;
}